.result {
  margin-top: 40px;
}
.result__name {
  font-size: 18px;
}
.result__title {
margin-bottom: 30px;
}
.result__content {
  margin-bottom: 40px;
}
.result__list {
  padding-left: 20px;
  font-size: 14px;
}
.input {
  outline: none;
  height: 20px;
  border: 2px solid #eee;
}
.input.error {
  border: 2px solid red;
}
.button {
  height: 26px;
}
